@import 'src/utilities/references/index';

.vsharee-directmassage-page {


  width: 100%;
  min-height: calc(100vh - 90px);
  padding: 22px 16px;
  display: flex;
  flex-direction: column;

  .my-container {
    flex: 1;
    background-color: white;
    display: flex;


    .friend-list {
      background-color: $black2;
      width: 100%;
      max-width: 250px;

      display: flex;
      flex-direction: column;
      padding: 12px;


      .search {
        margin-bottom: 20px;


      }

      .context {
        flex: 1;
        overflow-y: auto;

        .items {
          display: flex;

          .left-items {
            flex: 1;
            width: 100%;
              height: 100%;
              max-width: 38px;
              max-height: 38px;
              min-width: 38px;
              min-height: 38px;


            img {
              width: 100%;
              height: 100%;
              max-width: 38px;
              max-height: 38px;
              min-width: 38px;
              min-height: 38px;
              border-radius: 100%;
              object-fit: cover;
            }

          }

          .right-items {
            align-items: center;
            display: flex;

            p {
              margin-left: 10px;

              font-size: 14px;
              color: #ffffff;
            }

            span {
              margin-left: 10px;

              font-size: 12px;
              font-weight: 300;
              color: #656369;
              display: none;
            }
          }


        }


      }


    }

    .chat-box {

      flex: 1;

      .top-chat{
        background: #ff5252;
      }

      .center.chat{
        background-color: #35abd3;
      }

      .bottom-chat{
        background-color: black;

      }

    }


  }

}