@import 'src/utilities/references/index';

.vsharee-setnewpass-page {
 animation: vsharee-fade-in 0.5s ease-in-out forwards;
    @include die {
      animation: vsharee-fade-out 0.5s ease-in-out forwards;
    }
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
  }

  .box {
    animation: vsharee-fade-in 0.5s ease-in-out forwards;
    @include die {
      animation: vsharee-fade-out 0.5s ease-in-out forwards;
    }
    @include vsharee-size(max-width, 1000px, 600px);
    @include vsharee-size(max-height, 666px, 512px);
    width: 100%;
    height: 100%;
    display: flex;


    .redbox {
      flex: 1;
      width: 100%;
      height: 100%;
      position: relative;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include vsharee-lg {
        display: flex;
      }

      span {
        flex: 1;
      }

      .copy-right {
        cursor: pointer;
        margin-bottom: 12px;
        font-size: 14px;
      }

      img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      color: #ffffff;

      .welcome-Back {
        font-weight: bold;
        font-size: 50px;
      }


      .sign-in-to-continue {
        font-size: 25px;
      }
    }

    .blackbox {
      @include vsharee-size(margin, 100px, 5px);
      @include vsharee-lg {
        margin: 0;
      }
      flex: 1;
      height: 100%;
      background-color: black;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 100%;


      .context {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        @include vsharee-size(padding, 40px, 20px);

        h1 {
          width: 100%;
          text-align: left;
          font-size: 38px;
          font-weight: bold;
          color: #ffffff;
          max-width: 450px;
          @include vsharee-size(font-size, 40px, 26px);
          margin-bottom: 40px;
        }

        input {
          &.error {
            animation: vsharee-shake 1s;
            border: red solid 2px;
          }

          display: flex;
          align-items: center;
          margin-bottom: 22px;
          outline: none;
          @include vsharee-size(min-height, 48px, 42px);
          max-width: 450px;
          width: 100%;
          border-radius: 27.5px;
          padding-left: 44px;
          font-size: 14px;
          border: solid 1px #ffffff;
          background-color: #f0f0f0;
          color: $black2;

          &::placeholder {
            color: #a0a0a0;
          }
        }

        .my-inputs {
          position: relative;
          width: 100%;
          max-width: 450px;

          h3 {
            text-align: right;
            margin-top: -10px;
            cursor: pointer;

            &:hover {
              color: white;
            }
          }

          i {
            position: absolute;
            right: 14px;
            color: gray;
            top: 10px;
            font-size: 24px;
            cursor: default;

            &.eye {
              right: 40px;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                color: black;
              }
            }


            &.success {
              font-size: 24px;
              top: 10px;
              color: $success;
            }

            &.error {
              font-size: 24px;
              top: 10px;
              color: $error;
            }
               &.check {
            color: $success;
          }

          &.cross {
            color: $error;
          }
          }

        }

        .continue {
          outline: none;
          border: none;

          &.disable {
            background-color: $gray99;
            cursor: not-allowed;
          }

          @include vsharee-size(min-height, 48px, 42px);
          max-width: 451px;
          width: 100%;
          @include vsharee-size(margin-top, 32px, 24px);
          border-radius: 28px;
          background-color: #ff0d1d;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            color: white;
            height: fit-content;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            text-align: center;
          }

          i {
            color: white;
            position: absolute;
            right: 6px;
            font-size: 45px;
          }
        }

        .rectangle {
          @include vsharee-size(min-height, 48px, 42px);
          max-width: 451px;
          width: 100%;
          margin-top: 20px;
          border-radius: 28px;
          background-image: linear-gradient(to left, #67e4fe, #35abd3 48%);
          display: flex;
          align-items: center;
          justify-content: left;
          cursor: pointer;
          position: relative;

          img {
            width: 25px;
            height: 25px;
            position: absolute;
            right: 18px;
          }

          p {
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #ffffff;
            margin-left: 28px;
          }

        }

        h3 {
          @include vsharee-size(margin-top, 50px, 32px);
          font-size: 13px;
          color: #8b8b8b;
        }

        .new-acc {
          @include vsharee-size(margin-top, 80px, 40px);
          font-size: 13px;
          display: flex;

          h4 {
            color: #8b8b8b;
            font-size: 14px;
          }

          a {
            color: #ff0d1d;
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}