@import "src/utilities/references/index";

.vsharee-group-page {
  animation: vsharee-fade-in 0.5s ease-in-out forwards;
  @include die {
    animation: vsharee-fade-out 0.5s ease-in-out forwards;
  }
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;

  .my-container {
    @include vsharee-size(padding, 24px, 12px);
    // padding: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    @include vsharee-md {
      flex-direction: row;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      @include vsharee-md {
        margin-right: 27px;
      }


      .video-player {
        border-radius: 10px;
        flex: 1;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        iframe {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          min-height: 350px;

        }


      }

      .detail {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        @include vsharee-md {
          max-height: 300px;
        }

        height: 100%;
         @media (max-width: 1450px) {
           overflow: auto;
         }

        .group-detail-title {
          display: flex;
          align-items: center;
          @include vsharee-size(margin-bottom, 32px, 16px);


          h3 {
            @include vsharee-size(font-size, 24px, 20px);
            font-weight: bold;
            color: white;

          }

          .edit {
            margin-left: 12px;
            display: flex;
            align-items: center;
            color: $gray99;
            transition: color 0.3s;
            cursor: pointer;
            @include vsharee-size(font-size, 15px, 12px);

            &:hover {
              color: white;
            }

            i {
              @include vsharee-size(font-size, 18px, 15px);
              margin-right: 2px;
            }
          }
        }

        .info {
          flex: 1;
          @include vsharee-pre-md {
            > div {
              background-color: $black2;
              padding: 18px 10px 24px 18px;
              border-radius: 10px;

              &:nth-child(1) {
                margin-bottom: 18px;
              }

              @include vsharee-md {
                margin-top: 0;
              }
            }
          }

          display: flex;
          @media (max-width: 1450px) {
            flex-direction: column;
            .gp-controller {
              padding-top: 16px;
              border-top: solid 4px $black2;
            }
            .context {
              padding-bottom: 16px;
            }
          }

          .context {
            @media (min-width: 1450px) {
              max-width: 800px;
            }

            display: flex;
            border-right: solid 4px $black2;
            padding-right: 24px;
            width: 100%;

            img {
              min-width: 56px;
              max-width: 56px;
              min-height: 56px;
              max-height: 56px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100%;
            }

            .vsharee-alphabet-photo {
              h2 {
                width: 56px;
                height: 56px;
              }
            }

            .index {
              @include vsharee-size(margin-left, 24px, 12px);
              flex: 1;
              display: flex;
              flex-direction: column;

              .gp-name {
                width: 100%;
                display: flex;
                margin-bottom: 4px;

                h4 {
                  @include vsharee-size(font-size, 22px, 18px);
                  font-weight: 500;
                  color: white;
                }

                span {
                  flex: 1;
                }

                label {
                  @include vsharee-size(font-size, 16px, 12px);
                  font-weight: 300;
                  color: $gray;
                  cursor: pointer;
                  transition: color 0.3s;
                  &:hover{
                    color: white;
                  }
                }
              }

              span {
                @include vsharee-size(font-size, 16px, 12px);
                font-weight: 300;
                color: $gray;
              }

              .description {
                margin-top: 18px;
                padding-top: 18px;
                border-top: solid 1px $gray97;
                flex: 1;


                //  @include vsharee-scroll-shadow;

                //&::-webkit-scrollbar {
                //  display: none;
                //}
                //
                //-ms-overflow-style: none;
                //scrollbar-width: none;

                p {
                  max-height: 140px;
                  overflow-y: auto;
                  @include vsharee-size(font-size, 16px, 14px);
                  color: $gray77;
                }
              }
            }
          }

          .gp-controller {
            flex: 1;
            padding-left: 24px;
            padding-bottom: 24px;

            h4 {
              @include vsharee-size(font-size, 22px, 18px);
              color: white;
            }

            .context {
              width: 100%;
              height: 100%;
              border-right: none;
              .empty-state {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $gray;

                i {
                  cursor: default;
                  @include vsharee-size(font-size, 72px, 54px);
                  @include vsharee-size(margin-bottom, 16px, 12px);
                }

                p {
                  @include vsharee-size(font-size, 14px, 12px);
                }
              }
            }
          }
        }
      }
    }

    .right {

      @include vsharee-md {
        @include vsharee-size(min-width, 350px, 250px);
        @include vsharee-size(max-width, 350px, 250px);
      }

      width: 100%;
      display: flex;
      flex-direction: column;

      > div {
        background-color: $black2;
        padding: 18px 10px 24px 18px;
        border-radius: 10px;

        &:nth-child(1) {
          margin-top: 18px;
        }

        @include vsharee-md {
          &:nth-child(1) {
            margin-top: 0;
          }

        }
      }

      .member {
        overflow-y: hidden;
        max-height: 286px;
        width: 100%;
        height: 100%;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;

        h3 {
          @include vsharee-size(font-size, 22px, 18px);
          font-weight: 500;
          color: white;
          margin-bottom: 30px;
        }

        .context {
          flex: 1;
          overflow-y: auto;
          @include vsharee-scroll-shadow
          margin-top: -18px;

          .items {
            display: flex;
            margin-top: 18px;

            img {
              min-width: 42px;
              min-height: 42px;
              max-width: 42px;
              max-height: 42px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100%;
              @include vsharee-size(margin-right, 16px, 12px);
              margin-right: 16px;
            }

            .info {
              display: flex;
              flex-direction: column;
              justify-content: center;

              p {
                @include vsharee-size(font-size, 14px, 12px);
                color: white;
                margin-bottom: 2px;
              }

              label {
                color: $gray;
                @include vsharee-size(font-size, 12px, 10px);
                font-weight: 300;
              }
            }
          }
        }
      }

      .chat {
        flex: 1;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;

        h3 {
          @include vsharee-size(font-size, 22px, 18px);
          font-weight: 500;
          color: white;
          margin-bottom: 30px;
        }

        .context {
          flex: 1;
          overflow-y: auto;
          margin-top: -18px;

          .empty-state {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            label {
              @include vsharee-size(font-size, 18px, 15px);
              color: $gray;
              text-align: center;
            }

            p {
              max-width: 196px;
              @include vsharee-size(font-size, 14px, 12px);
              font-weight: 300;
              text-align: center;
              color: $grayDark;
            }

            img {
              @include vsharee-size(width, 100px, 80px);
              @include vsharee-size(height, 100px, 80px);
              margin-top: 18px;
              cursor: pointer;
            }
          }
        }

        .send {
          width: 100%;
          position: relative;

          .emoji {
            position: absolute;
            right: 10px;
            height: 100%;
            display: flex;
            align-items: flex-end;
            top: -18px;
            color: $gray99;
            transition: color 0.3s;
            cursor: pointer;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}