@import '../../../utilities/references/index';

.main-div-header {
  padding: 5px;
  background-color: $gray1A;
  display: flex;
  flex-direction: row;
  outline: none !important;
  position: relative;
  z-index: 100;
  animation: vsharee-fade-in 0.5s ease-in-out forwards;
  @include die {
    animation: vsharee-fade-out 0.5s ease-in-out forwards;
  }

  .btn:focus {
    box-shadow: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: .5rem;
    // font-size: unset;
  }

  .logo-div {
    display: flex;
    flex-direction: row;
    position: relative;

    img {
      width: 80px;
      height: 80px;
    }

    h1 {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      bottom: 0;
      position: absolute;
      left: 80px;
    }
  }

  .icon-main-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    Button {
      background-color: $red;
      border-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h6 {
        margin-bottom: 0;
      }
    }

  }

  .user-main-div {
    display: flex;
    flex-direction: row-reverse;
    // justify-content: center;
    align-items: center;

    .dropdownClasss {
      margin-top: -6px;

      .dropdownToggleClasss {
        img {
          margin-top: 6px;
          margin-right: -4px;
          margin-left: 6px;
          min-width: 40px;
          min-height: 40px;
          max-width: 40px;
          max-height: 40px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-color: transparent;
        color: $white;

        h6 {
          padding: 10px;
          padding-top: 20px;
        }
      }


    }

    .paddingi {
      padding-right: 15px;
    }
  }

  .input-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      font-size: 30px;
      margin-top: 4px;
      margin-right: 8px;
    }

    .search-input {
      display: flex;
      flex-direction: column;
      position: relative;

    }

    .search-result-box {
      position: absolute;
      background-color: $gray1A;
      width: 100%;
      top: 40px;
      z-index: 1;
      box-shadow: black 0px 20px 30px -10px;
      overflow: hidden;
      height: 0;
      transition: height 0.4s;

      label {

        color: #ffffff;

      }

      &.open {
        overflow: auto;
        height: 250px;
        padding: 12px;
      }

      .not-found {
        margin-top: 8px;
        color: $gray99;
        font-size: 14px;
        text-align: center;
      }

      .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 14px;
      }

      .items-group {
        display: flex;
        height: 40px;
        //  padding: 0 12px;
        align-items: center;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
          background-color: #2d2d2d;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 8px;
          margin-right: 8px;
        }

        h2 {
          margin-right: 8px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          font-size: 32px;
        }

        p {
          color: $gray99;
          font-size: 16px;
          margin: 0;
        }
      }

      .items-user {

        display: flex;
        height: 40px;
        //  padding: 0 12px;
        align-items: center;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
          background-color: #2d2d2d;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          background-color: black;
          margin-right: 8px;
        }

        p {
          color: $gray99;
          font-size: 16px;
          margin: 0;
        }
      }
    }


  }

  .input-main-div-mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    .input-search {
      color: $white;
      // margin-left: 15px;
      border-bottom-style: solid;

      border-color: rgba($white, 0.3);
      // background-color: rgba($white,0.3);
    }

    i {
      font-size: 30px;
    }
  }

  i {
    color: $white;
    cursor: pointer;
  }

  .dropdowm-item {
    display: flex;
    flex-direction: row;

    text-decoration: none;
    color: unset;

    align-items: center;


    i {
      color: $black !important;
      cursor: pointer;
    }

    h6 {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
}