@use 'sass:selector';
$primary: #0c0b10;
$primary2:#ff0d1d;
$yellow: #fddb3a;
$gray:#696c70;
$grayDark:#52575d;
$grayLight: #cccccc;
$white: #fcfcfc;
$black: #1a1a1a;
$red: #ff5252;
$gold:#ffcc00;
$gray97:#979797;
$black2: #16151a;
$gray7a:#7a7a7a;
$gray77:#777777;
$gray99:#999999;
$white: #ffffff;
$black: #2a282f;
$red: #fd0c18;
$gray1A: #16151A;
$lightgray:#7a7a7a;
$lightborder:#2c2c2c;
$redfollow:#ff0d1d;
$lightblue:#57d2f1;
$bluedb:#35badb;
$success:#50892f;
$error:#ed0039;
$danger:#ffcc00
