@use 'sass:selector';
$primary: #41444b;
$yellow: #fddb3a;
$gray:#696c70;
$grayDark:#52575d;
$grayLight: #cccccc;
$white: #ffffff;
$black: #0c0b10;
$red: #fd0c18;
$gray1A: #16151A;
$lightgray:#7a7a7a;
$lightborder:#2c2c2c;
$redfollow:#ff0d1d;
$lightblue:#57d2f1;
$bluedb:#35badb
