@mixin rtl {
  @at-root body[dir="rtl"] & {
    @content
  }
}

;

@mixin vsharee-xs {
  @media (max-width: 575.98px) {
    @content
  }
}

;

@mixin vsharee-sm {
  @media (min-width: 575.98px) {
    @content
  }
}

;

@mixin vsharee-md {
  @media (min-width: 767.98px) {
    @content
  }
}

;

@mixin vsharee-lg {
  @media (min-width: 991.98px) {
    @content
  }
}

;

@mixin vsharee-xl {
  @media (min-width: 1199.98px) {
    @content
  }
}

;

@mixin vsharee-size($property, $web-value, $mobile-value) {
  @include vsharee-xs {
    #{$property}: $mobile-value;
  }
  @include vsharee-sm {
    #{$property}: (2*$mobile-value + $web-value)/3;
  }
  @include vsharee-md {
    #{$property}: ($mobile-value + $web-value)/2;
  }
  @include vsharee-lg {
    #{$property}: ($mobile-value + 2*$web-value)/3;
  }
  @include vsharee-xl {
    #{$property}: $web-value;
  }
}

;

@mixin vsharee-scroll-shadow {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient($black2 30%, rgba(0, 0, 0, 0)),
  linear-gradient(rgba(0, 0, 0, 0), $black2 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)),
  radial-gradient(farthest-side at 50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: $black2;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

@mixin die {
    @at-root body.navigation-die & {
        @content
    }
}