@import 'src/utilities/references/index';

.vsharee-dashboard-page{
   width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  z-index: -1;


  position: relative;
  background-color: #0c0b10;

  .leftcolumn{

    width: 100%;
    height: 100%;
    max-height: calc(100vh - 90px);
    max-width: 286px;
    padding: 24px;
    h3{
      font-size: 21px;
      font-weight: 500;
      color: #ffffff;
    }


    .top{
      width: 100%;
      height: 100%;
      max-width: 286px;
      max-height: 214px;




      .top-in{

        background-color: #16151a;
        overflow: auto;
         width: 100%;
        height: 100%;
        max-width: 286px;
        border-radius: 10px;
        padding: 18px;
        .index{
          padding-top: 10px;


          .items-top{

            margin-top: 5px;
            display: flex;


            .items-top-left{
              position: relative;

              width: 100%;
              height: 100%;
              max-width: 38px;
              max-height: 38px;

              border-radius: 8px;
              display: flex;


          img{
            width: 100%;
            height: 100%;
            max-width: 38px;
            max-height: 38px;
            min-width: 38px;
            min-height: 38px;

            border-radius: 8px;
            object-fit : cover;


          }
            }
            .items-top-right{
              margin-left: 10px;
              p{
                 font-family: Rubik;
                 font-size: 16px;
                 font-weight: 500;
                 color: #ffffff;
              }
            }

          }
        }


      }




    }
    .bottom{
      margin-top: 10px;
      width: 100%;
      height: 100%;
      max-width: 286px;
       max-height: calc(100% - 214px);


      .bottom-in{
        width: 100%;
        height: 100%;
        max-width: 286px;
        border-radius: 10px;
        padding: 18px;
        background-color: #16151a;
        overflow: auto;
        h3{
          font-size: 21px;
          font-weight: 500;
          color: #ffffff;

        }
        .my-container{
           padding-top: 10px;
          .items-bottom{
            margin-top: 15px;
            display: flex;
            .items-bottom-left{
              position: relative;
              width: 100%;
              height: 100%;
              max-width: 38px;
              max-height: 38px;
              border-radius: 8px;
              display: flex;

                .star{
                width: 100%;
                height: 100%;
                top: -8px;
                  left: -8px;
                color: #ffcc00;
                position: absolute;

              }




              img{
                width: 100%;
                height: 100%;
                max-width: 46px;
                max-height: 46px;
                min-width: 46px;
                min-height: 46px;
                border-radius: 8px;
                object-fit : cover;

              }

            }
            .items-bottom-right{
              margin-left: 25px;
              p{
                 font-family: Rubik;
                 font-size: 16px;
                 font-weight: 500;
                  color: #ffffff;
              }
              span{
                 font-family: Rubik;
                 font-size: 12px;
                 font-weight: 300;
                 color: #ffffff;
              }
            }

          }

        }


      }
    }

  }
  .centercolumn{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 90px);
    .center-items{
      align-items: center;
      justify-content: center;
      h2{
        font-family: Rubik;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 38px;
        margin-left: 105px;
        margin-bottom: 20px;
      }
      .p-text{
        margin-left: 50px;
        margin-top: 18px;
         p{
         font-family: Rubik;
         font-size: 13px;
         color: #999999;

      }

      }


      span{

         font-family: Rubik;
         font-size: 13px;
         color: #999999;


      }
      h3{
         font-family: Rubik;
         font-size: 13px;
         color: #999999;

      }

      .tvPic{
    display: flex;
    position: relative;
    max-height: 359px;
    max-width: 359px;
    width: 100%;
    height: 100%;


  }
    }



  }


  .rightcolumn{

    padding: 24px;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 90px);
     max-width: 286px;

    h3{
      font-size: 21px;
      font-weight: 500;
      color: #ffffff;
    }


    .rightcolumn-in{
      padding: 18px;
      background-color: #16151a;
      overflow: auto;
      width: 100%;
      height: 100%;
      max-width: 286px;
      border-radius: 10px;
      max-height: 896px;

    }
    .context{
      padding-top: 10px;
      margin-top: 15px;
      margin-left: 8px;


      .items{
        &.online{
          .left-items{
            .circle{
              display: block!important;
            }
          }
          .right-items{
            span{
              display: block!important;
            }
          }
        }
        display: flex;
        margin-bottom: 20px;

        .right-items{

          p{
            margin-left: 10px;
            font-family: Rubik;
            font-size: 14px;
            color: #ffffff;
          }
          span{
            margin-left: 10px;
            font-family: Rubik;
            font-size: 12px;
            font-weight: 300;
            color: #656369;
            display: none;
          }
        }
        .left-items{
           position: relative;

            width: 100%;
            height: 100%;
            max-width: 36px;
            max-height: 36px;
            border-radius: 100%;
            display: flex;


          img{
            width: 100%;
            height: 100%;
            max-width: 36px;
            max-height: 36px;
            min-width: 36px;
            min-height: 36px;
            border-radius: 100%;
            object-fit : cover;


          }
          .circle{
            width: 100%;
            height: 100%;
            max-width: 6px;
            max-height: 6px;
            min-width: 6px;
            min-height: 6px;
            border-radius: 100%;
            background-color: #00b944;
            position: absolute;
            bottom: 0;
            right: 0;
            display: none;
          }
        }

      }
    }


  }
}