@import 'src/utilities/references/index';
.vsharee-notification {
          background-color: #00b944;
          height: 300px;
          width: 300px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          border: solid 1px #8b8b8b;

          p{
            color: white;
          }
          span{
            color: white;
          }


          .friends-list {
            background-color: $black2;
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            border-bottom: solid 1px #8b8b8b;
            i{
              flex: 1;
            }
          }
          .groups{
            background-color: $black2;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            justify-content: center;
            padding: 10px;
            border-bottom: solid 1px #8b8b8b;
            i{
              flex: 1;
            }

          }
          .group-accept-join{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $black2;
            align-items: center;
            padding: 10px;
            border-bottom: solid 1px #8b8b8b;
        }
          .user-accept-request{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $black2;
            align-items: center;
            padding: 10px;
            border-bottom: solid 1px #8b8b8b;
          }
          .start-follow{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $black2 ;
            align-items: center;
            padding: 10px;


          }




        }