@import 'src/utilities/references/index';


.vsharee-create-group-modal {

  .modal-dialog {
    max-width: 632px;
  }

  .my-container {

    width: 100%;
    height: 100%;
    background-color: $black2;
    padding: 32px 0;
    max-width: 632px;
    display: flex;
    align-items: center;
    justify-content: center;

    .context {
      animation: vsharee-fade-in 0.5s ease-in-out forwards;

      &.my-die {
        backdrop-filter: revert;
        animation: vsharee-fade-out 0.5s ease-in-out forwards;
      }


      @include vsharee-size(width, 75%, 96%);

      h1 {
        @include vsharee-size(font-size, 32px, 24px);
        font-weight: bold;
        color: #ffffff;
        text-align: center;
      }

      h5 {
        @include vsharee-size(font-size, 16px, 14px);
        margin: 28px 0 0;
        text-align: center;
        color: #ffffff;
      }

      .image-uploader {
        transition: all 0.2s;


        position: relative;
        margin: auto;
        margin-top: 28px;
        border-radius: 100%;
        border: dashed 2px #ffffff;

        img {
          min-width: 110px;
          min-height: 110px;
          max-width: 110px;
          max-height: 110px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
          transition: all 0.3s;
        }

        .edit {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover {
          background-color: $black;
          border-color: $primary2;

          img {
            filter: brightness(50%);
          }

          .edit {
            opacity: 1;
          }
        }

        min-width: 110px;
        min-height: 110px;
        max-width: 110px;
        max-height: 110px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        i {
          font-size: 34px;
          color: #ffffff;
        }

        p {
          color: #ffffff;
          font-size: 14px;
        }

        .icon-plus {
          position: absolute;
          background-color: $primary2;
          top: 0;
          right: 0;
          border-radius: 100%;
          min-width: 24px;
          min-height: 24px;
          max-width: 24px;
          max-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 100%;
          height: 100%;

          i {
            color: #ffffff;
            font-size: 23px;
          }
        }
      }

      .my-input {
        @include vsharee-size(width, 75%, 96%);
        margin: auto;
        margin-top: 24px;

        .detail {
          color: $gray7a;
          margin-top: -14px;
          margin-bottom: 8px;
          margin-left: 28px;
          font-size: 12px;
          font-weight: 300;
        }
      }



      .my-btn {
        display: flex;
        justify-content: center;
        @include vsharee-size(width, 75%, 96%);
        margin: auto;
        margin-top: 28px;
        //margin-right: -10px;
        > * {
          margin-right: 10px;
        }

        button {
          min-width: 100px;
          min-height: 40px;
        }
      }

      .delete-group {
        margin-top: 22px;
        text-align: center;
        color: $gray99;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover{
          color: $primary2;
        }
      }
    }

  }


}

