@import 'src/utilities/references/index';

.vsharee-dashboard-my-friends{

  background-color: $black2;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  overflow: auto;



  .context {
    padding-top: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    @include vsharee-scroll-shadow;
    .items {

      &.online {
        .left-items {
          .circle {
            display: block !important;
          }
        }

        .right-items {
          display: flex;
          align-items: unset;
          flex-direction: column;

          span {
            display: block !important;
          }
        }
      }

      margin-top: 12px;
      display: flex;
      transition: all 0.2s;
      padding: 6px 18px;

      &:first-child {
        margin-top: 0 !important;
      }

      cursor: pointer;

      &:hover {
        background-color: $black;

        .items-top-right {
          p {
            color: #ffffff;
          }
        }
      }



      .right-items {
        align-items: center;
        display: flex;

        p {
          margin-left: 10px;

          font-size: 14px;
          color: #ffffff;
        }

        span {
          margin-left: 10px;

          font-size: 12px;
          font-weight: 300;
          color: #656369;
          display: none;
        }
      }

      .left-items {
        position: relative;
            font-size: 12px;
            font-weight: 300;
            color: #656369;

         img {
          width: 100%;
          height: 100%;
          max-width: 38px;
          max-height: 38px;
          min-width: 38px;
          min-height: 38px;
          border-radius: 100%;
          object-fit: cover;
        }
          }
        }



        .circle {
          width: 100%;
          height: 100%;
          max-width: 6px;
          max-height: 6px;
          min-width: 6px;
          min-height: 6px;
          border-radius: 100%;
          background-color: #00b944;
          position: absolute;
          bottom: 0;
          right: 0;
          display: none;
        }
      }

    }


  

