@import 'src/utilities/references/index';


.vsharee-group-members-modal {

  .modal-dialog {
    max-width: 632px;
  }

  .my-container {
    width: 100%;
    height: 100%;
    background-color: $black2;
    padding: 32px 0;
    max-width: 632px;
    display: flex;
    align-items: center;
    justify-content: center;

    .context {
      width: 85%;

      .my-card {
        margin: auto;
        margin-top: 20px;

        @include vsharee-size(width, 75%, 96%);

        > div {
          background-color: transparent;
          min-height: 300px;
        }

        .my-card-inputs {
          width: 100%;
          padding: 6px 12px 0;
          position: relative;

          input {
            padding: 10px 0;
          }

          i {
            position: absolute;
            right: 12px;
            top: 16px;
            font-size: 20px;
            color: $gray77;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: white;
            }
          }
        }

        .context {
          .add-status {
            margin: 40px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            i {
              font-size: 72px;
              color: $gray;
              margin-bottom: 12px;
              cursor: default;
            }

            p {
              font-size: 16px;
              color: $grayLight;
            }
          }

          .vsharee-dashboard-empty-state {
            margin-top: 20px;
          }

          .MuiCircularProgress-root {
            margin: 20px auto;

          }

          @include vsharee-size(max-height, 700px, 400px);
          overflow: auto;
          @include vsharee-scroll-shadow;
          display: flex;
          flex-direction: column;
          // max-height: 140px;
          width: 100%;
          padding-top: 6px;

          .items {
            display: flex;
            width: 100%;
            padding: 12px;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
              background-color: $black;
            }

            .remove {
              color: $error;
              cursor: pointer;
              margin: 2px 0 0 6px;
              font-size: 12px;
            }

            img {
              min-width: 36px;
              min-height: 36px;
              max-width: 36px;
              max-height: 36px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              margin-right: 8px;
              border-radius: 100%;
              background-color: black;
              cursor: pointer;
            }

            p {
              font-size: 14px;
              color: #ffffff;
            }

            .admin-controller {
              display: flex;
              margin-left: 6px;

              i {
                font-size: 18px;
                color: $gray99;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                  color: white;
                }

                &:nth-child(2) {
                  margin-left: 2px;
                }
                &.check{
                  font-size: 22px;
                  margin-right: 4px;
                }
              }

            }

            .spacer {
              flex: 1;
            }

            label {
              font-size: 12px;
              margin: 0 6px;
              color: $gray99;
            }

            .add-icon {
              color: $gray;
              cursor: pointer;
              transition: color 0.3s;
            }

            &:hover {
              .add-icon {
                color: white;
              }
            }

            > div {
              margin: 0 0 0 6px;

              .MuiSelect-select:focus {
                background-color: transparent !important;
              }

              max-width: 110px;

              > div {
                height: 100%;
                max-height: 38px;


                > div {
                  font-size: 12px !important;
                }
              }


              padding: 0;
            }
          }
        }
      }

      h1 {
        @include vsharee-size(font-size, 32px, 24px);
        font-weight: bold;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}

